body,
html {
  height: 100%;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px; // converted to 1rem
  line-height: 1;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url("./../images/content/Pattern.png");
  background-repeat: repeat;
  background-position: center center;
}

.maincontent {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.section {
  min-height: 650px;
  overflow: hidden;
}