.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.section__title {
  font-family: "Exo";
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}
